<h2>About</h2>
{{!-- <p>I'm apologize for skipping monday class 2/13. i got a nasty cold and couldn't make it, so i took a
	rest
	and spent time working on assignment
</p> --}}
<p>Nitinan Jampa 118707223 DAD program</p>

<a href="http://localhost:8080/">back to home</a>