<u>
	<h2>Table</h2>
</u>

<table class="table1">
	<caption>The effort is spent on 2nd table rather than this one</caption>
	<thead>
		<tr>
			<th>Month</th>
			<th>Earning</th>
			<th>Spending</th>
			<th>Savings</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>January</th>
			<th rowspan="2">1000</th>
			<th colspan="2" text-align:="" center="" style="text-align: center;">500</th>
		</tr>
		<tr>
			<th>Febuary</th>
			<th>700</th>
			<th>300</th>
		</tr>
		<tr>
			<th>March</th>
			<th>450</th>
			<th>100</th>
			<th>350</th>
		</tr>
		<tr>
			<th>April</th>
			<th>610</th>
			<th>210</th>
			<th>400</th>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>total</th>
			<th>3060</th>
			<th>1510</th>
			<th>1550</th>
		</tr>
	</tfoot>
</table>
<table>
	<tbody>
		<tr>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black" colspan="13"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="brightgreen"></td>
			<td class="black"></td>
			<td class="red"></td>
			<td class="black"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="black"></td>
			<td class="red"></td>
			<td class="black"></td>
			<td class="brightgreen"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="brightgreen"></td>
			<td class="black"></td>
			<td class="red"></td>
			<td class="black"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="black"></td>
			<td class="red"></td>
			<td class="black"></td>
			<td class="brightgreen"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="black" rowspan="6"></td>
			<td class="brightgreen"></td>
			<td class="black" rowspan="2"></td>
			<td class="red"></td>
			<td class="black"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="black"></td>
			<td class="red"></td>
			<td class="black" rowspan="2"></td>
			<td class="brightgreen"></td>
			<td class="black" rowspan="6"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="brightgreen"></td>
			<td class="black" rowspan="2"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="green"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="green" rowspan="2"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="black" rowspan="2"></td>
			<td class="brightgreen"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="green" rowspan="2"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="brightgreen"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="brightgreen"></td>
			<td class="green"></td>
			<td class="skintone"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="green" rowspan="2"></td>
			<td class="skintone"></td>
			<td class="brightgreen"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="brightgreen"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green" rowspan="5"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="brightgreen"></td>
			<td class="brightgreen"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="green" rowspan="5"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="black" rowspan="2"></td>
			<td class="green"></td>
			<td class="black" rowspan="3"></td>
			<td class="skintone"></td>
			<td class="brightgreen"></td>
			<td class="green"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="black" rowspan="3"></td>
			<td class="green"></td>
			<td class="black" rowspan="2"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="black" rowspan="6"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="skintone"></td>
			<td class="green"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="black" rowspan="6"></td>
		</tr>
		<tr>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="red"></td>
			<td class="black" rowspan="2"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="black" rowspan="2"></td>
			<td class="red"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
		</tr>
		<tr>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="black" rowspan="4"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="skintone"></td>
			<td class="black" rowspan="4"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
		</tr>
		<tr>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="white"></td>
			<td class="black" colspan="3"></td>
			<td class="gray" colspan="3"></td>
			<td class="black" colspan="3"></td>
			<td class="white"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
		</tr>
		<tr>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="gray" rowspan="3"></td>
			<td class="green" rowspan="3"></td>
			<td class="gray" rowspan="3"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="green"></td>
		</tr>
		<tr>
			<td class="black" rowspan="2"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="gray"></td>
			<td class="gray"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="green"></td>
			<td class="green"></td>
			<td class="black" rowspan="2"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="green"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black" rowspan="2"></td>
			<td class="skintone"></td>
			<td class="black"></td>
			<td class="black"></td>
			<td class="skintone"></td>
			<td class="black" rowspan="2"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="green"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="lightgray" colspan="2"></td>
			<td class="green"></td>
			<td class="lightgray"></td>
			<td class="green"></td>
			<td class="lightgray" colspan="2"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black" colspan="7"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
		</tr>
		<tr>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="black"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
			<td class="white"></td>
		</tr>
	</tbody>
</table>
<p>This is pixel art made from table, using <a href="https://www.tablesgenerator.com/">this website</a>
	so I
	only need to input colors manually and adjust some css</p>

<u>
	<h2>List</h2>
</u>

<ul>
	<li>Fries</li>
	<li>Sandwich</li>
	<li>Omlette</li>
	<li>Drink</li>
	<li>
		<ol>
			<li>Soda</li>
			<li>Iced Tea</li>
			<li>Milkshake</li>
		</ol>
	</li>
</ul>
<p>very simple list of menu</p>

<u>
	<h2>Image</h2>
</u>
<img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Burgh_Hill_Farm_Meadow.jpg" width="500" height="360"
	alt="Meadow">
<img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Olearia_angulata_12.JPG" width="360" height="360"
	alt="Flower">
<img src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Irdning12_2007_08_114.jpg" width="864" height="490"
	alt="random boat">
<p>these are just random image select by browsing random article in wikipedia
	2nd one a bit interesting being flower that can only be found in New Zealand
</p>
<u>
	<h2>Audio</h2>
</u>
<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
	src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1046245441&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
<div
	style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
	<a href="https://soundcloud.com/chaz-richardson-328649952" title="foxynater" target="_blank"
		style="color: #cccccc; text-decoration: none;">foxynater</a> · <a
		href="https://soundcloud.com/chaz-richardson-328649952/hello-world-mashup-original"
		title="hello world mashup original, miku, moonbase alpha" target="_blank"
		style="color: #cccccc; text-decoration: none;">hello world mashup original, miku, moonbase
		alpha</a>
</div>
<p>a mash up song</p>
<ul>
	<li>its original version</p>
	<li>moonbase version - simulation/space theme game that has text to speech feature so community took
		it
		and make cover of many song</p>
	<li>miku version - japan voice synthesizer</p>
</ul>
<h5>and default one just in case</h5>
<audio controls>
	<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-audio.mp3" type="audio/ogg">
	Your browser does not support the audio element.
</audio>
<u>
	<h2>Video</h2>
</u>
<iframe width="420" height="315" src="https://www.youtube.com/embed/qE6mruRB1PA">
</iframe>
<p>some catchy song</p>
<h5>and default one just in case</h5>
<video width="320" height="240" controls>
	<source src="https://pat-crawford-sdds.netlify.app/shared/winter-2023/web700/A3/sample-video.mp4" type="video/mp4">
	Your browser does not support the video tag.
</video>